body {
    background-color: rgb(204, 208, 209);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    border-radius: 1rem;
    box-shadow: 0 0 6px 4px rgba(27, 25, 25, 0.3); 
    background-color: white; 
    height: 150px; 
    width: 150px; 
    transition: 150ms; 
    cursor: pointer;
    transform: perspective(1000px)  rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
}

.card:hover {
    box-shadow: 0 0 6px 4px rgba(27, 25, 25, 0.55); 
}

.card.flip {
    --rotate-y: 180deg; 
}

.card .front {
    left: 0; 
}

.card .front,
.card .back {
    position: absolute;
    padding: 1rem; 
    backface-visibility: hidden; 
}

.card .back {
    transform: rotateY(180deg);
}

.flashcard-options {
    margin-top: 0.5rem; 
}

.flashcard-option {
    margin-top: 0.5rem;
    color: #555;
    font-size: 0.75rem;
}

